<% content_for :title, "Edycja persony" %>

<h1 class="text-2xl font-bold mb-6">Edycja persony - <%= @persona.name %></h1>

<div class="max-w-3xl bg-white p-6 rounded shadow border border-gray-200">
  <%= render "form", focus_group: @focus_group, persona: @persona %>
</div>
